*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: sans-serif;
}
.first{
    display: flex;
    justify-content: space-between;
    padding: 4px;
}
.head{
    font-size: 15px;
    color: gray;
}
.a{
    font-size: 18px;
    background-color: rgb(225, 223, 223);
    padding: 5px;
    border-radius: 4px;
    margin-left: 12px ;
    gap: 10px;
}
p{
    font-size: 12px;
    margin-top: 10px;
    color: gray;
}
select{
    padding: 3px;
    font-size: 12px;
   border: 2px solid white;
   border-radius: 5px; 
   color: gray;
}
.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 8px;
    margin: 10px;
}
.search{
    height: 40px;
    width: 60%;
    margin-left: 22px;
    margin-top: 6px;
    border: 1px solid lightgray;
    padding: 18px;
    border-radius: 6px;
}
.searchbar{
    position: relative;
    right: 45px;
    top: 16px;
    font-size: 20px;
    margin-right: 50px;
}
.b{
    margin-top: 8px;
    font-size: 23px;
    margin-right: 18px;
    color: gray;
}
.h1color{
    color: rgb(252, 131, 151);
    font-size: 40px;
    font-family: serif;
}
.a-names{
    font-size: 15px;
    height: 40px;
    margin: 6px;
    padding: 3px;
    display: flex;
    justify-content: center;
}
.c{
    color: black;
    margin: 10px 25px 30px;
    text-align: center;
    text-decoration: none;
    display: inline;
}
.main{
    max-width: 1250px;
    /* background-size: cover ; */
    margin: 0px auto;
    /* margin: 1px solid blue; */
}
.main2{
    /* width: 95vw; */
    width: 100%;
    background-size: contain;
    margin: 1px 0%;
    background-image: url(https://prabhatlodhi-ecomm-site-responsive.netlify.app/images/banner-1.jpg);
    height: 75%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid white;
}
 .banner{
    width: 66vw;
    padding: 4% 8%;
}
.banner p{
    font-size: 2.6rem;
    color: rgb(248, 118, 140);
}
.banner h1{
    font-size: 3.5rem;
    font-weight: bold;
}
.banner button{
    border: none;
    font-weight: bold;
    border-radius: 3px;
    background-color: rgb(249, 144, 161);
    color: white;
    padding: 2% 3%;
    margin: 2% 0%;
    cursor: pointer;
}
.main_width{
    /* margin: 0px auto; */
/* margin-left: 10%; */
display: flex;
flex-wrap: wrap;
text-align: center;
justify-content: space-evenly;
}
.one_small{
    height: 14%;
    width: 26%;
    justify-content: start;
    align-items: stretch;
    border-radius: 3px;
    border: 1px solid lightgray;
    margin: 1% 1.4%;
    display: flex;
}
.svg_icon img{
    width: 60px;
    height: 60px;
    margin: 8px;
    padding: 7px;
    border-radius: 3px;
    background-color: rgb(210,210,210);
}
.top_text{
    margin: 6px;
    padding: 7px;
    height: 13%;
    width: 65%;
}
.seprate{
    display: flex;
    justify-content: space-between;
}
.seprate p{
    font-size: 15px;
    font-weight: bold;
    color: black;
}
.top_text a{
text-decoration: none;
color: rgb(250, 113, 135);
font-size: 1.2em;
}
.one_small:hover{
    box-shadow: 2px 2px 10px lightblue;
}
.main_wrapper{
    display: flex;
    margin: 2px auto;
}
.asider{
    /* height: 100%; */
    width: 100%;
    position: sticky;
    top: 0px;
    height: min-content;
}
.long_container{
    /* width: 20em; */
    margin-left: 5%;
    /* justify-content: space-between; */
}
.left_aside_svg{
    justify-content: start;
    /* margin: 2% 0%; */
    display: flex;
}
.left_aside_svg img{
    width: 35px;
    height: 35px;
    margin-left:  2%;
    position: relative;
    /* margin-top: 2px; */
    margin-right: 15px;
}
.text_plus p{
    width: 80%;
    margin-left: 3%;
    position: relative;
    font-size: 20px;
    display: flex;
    color: black;
}
 .picon{
    color: black;
    font-size: 30px;
position: relative;
margin-left: 7em;
bottom: 20px;
}
.one_block_main:hover{
    box-shadow: 1.5px 1px 5px lightgreen;
}

.best_seller div{
    /* border: 1px solid  green; */
width: 18em;
border-radius: 3px;
margin-left: 1%;
}
.best_seller{
    width: 18em;
    /* border: 1px solid  green; */
}

.best_seller1{
    /* width: 100%; */
    border-radius: 3px;
    border: 1px solid lightgray;
    margin: 3% 0%;
    display: flex;
}
.best_seller img{
    width: 5em;
    height: 5em;
}
.best_seller2 .para{
font-size: 20px;
font-weight: bold;
margin-left: 3px;
font-weight: bold;
}
.best_seller1:hover{
box-shadow: 1px 1px 5px lightgreen;
}

.main_center2{
    display: flex;
    justify-content: center;
    margin-right: 6px;
    flex-wrap: wrap;
    /* padding: 1%; */
    /* width: 100%; */
    gap: 2em;
}

.long_container_main P{
    color: black;
display: flex;
margin-left: 30% 30%;
margin-right: 30%;
/* position: relative; */
/* justify-content: space-between; */
/* gap: 10px; */
}
.one_block_main{
    width: 15em;
    height: 6em;
    /* justify-content: start; */
    border-radius: 3px;
    border: 1px solid gainsboro;
    margin: 4% 0%;
    /* padding: 2px; */
    display: flex;
}
.product_image{
margin: 0px 5px;
}
.product_image img{
    width: 70px;
    height: 70px;
    padding: 1px;
}
.alltext .top{
font-size: 13px;
font-weight: bold;
color: black;
}
.alltext .grey{
font-size: 14px;
color: rgb(100,100,100);
}
.alltext .amount{
    color: rgb(253, 86, 111);
    font-weight: bold;
    font-size: 0.8em;
} 
   
.shampoo_sec{
    margin: 1%;
    margin-top: 20px;
    /* margin: 5px; */
}
.shampoo_div{
    border: 1px solid lightgrey;
    border-radius: 5px;
    /* justify-content: flex-start; */
    margin-bottom: 6%;
    display: flex;
    /* border: 1px solid red; */
    height: 24em;
    width: 49em;
    margin-right: 15px;
    
}
.shampoo_image img{
    width: 80%;
    padding: 1%;
}
.shampoo_image img{
    width: 25em;
    height: 24em;
    object-fit: contain;
}
.shampoo_icon{
    font-size: 1em;
    padding: 2%;
    padding-right: 5%;
    width: 100%;
}
.shampoo_icon h5{
    font-size :1.5em;
}
.shampoo_icon button{
    border: none;
    font-weight: bold;
    border-radius: 4px;
    color: white;
    background-color: rgb(240, 109, 129);
    padding: 2.8% 6px;
    margin: 2% 0%;
}
.progress_bar{
    margin: 2% 0%;
    /* width: 100%; */
    height: 10px;
    background-color: rgb(177, 161, 161);
    padding: 1px;
    border-radius: 5px;
}
.pink{
    height: 8px;
    width: 45%;
    background-color: rgb(250, 114, 137);
    border-radius: 5px;
    border:1px solid grey;
}
.shampoo_icon p{
    color: rgb(99, 92, 92);
}
.squareboxes{
display: flex;
/* gap: 8px; */
}
.squareboxes1{
    text-align: center;
    height: 2.7em;
    width: 4em;
    border-radius: 5px;
    background-color: rgb(188, 179, 179);
    margin-right: 3%;
    padding:3px;
} 

.products{
    margin: 2%;
}
.products h1{
    width: 98%;
    margin-bottom: 6%;
    margin-left: 1%;
    margin-top: 8%;
    border-bottom: 1px solid grey;
}
.products_wrap{
/* border: 1px solid red; */
display: flex;
flex-wrap: wrap;
justify-content: space-between;
/* gap: 1%; */
/* position: relative; */

}
.products_div{
    /* margin: 5px; */
    padding: 2px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    /* border: 1px solid blue; */
}
.products_para_icons{
    /* border: 1px solid red; */
    padding: 4px;
}
.products_image{
    /* margin: 1%; */
    border-radius: 4px;
    border: 1px solid lightgrey;
}
.products_image img{
    width: 10em;
}
.products_div:hover{
    box-shadow: 1px 1px 5px lightblue;
} 

.trestimonial_section{
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    margin: 1% 1%;
}
.trestimonial_div{
    height: 26em;
    width: 23%;
    margin: 2%;
    border: 1px solid lightgrey;
    border-radius: 5px;
}
.trestimonial_div h1{
    border-bottom: 1px solid grey;
    padding-top: 8%;
    padding-left: 4%;
}
.trestimonial_image{
    padding: 5%;
    text-align: center;
}
.trestimonial_image img{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin: 4% 0%;
}
.testi_alan{
    font-weight: bold;
    font-size: 1.5em;
    color: black;
}
.testi_work{
    font-size: 1em;
    color: black;
} 
.summer{
    border-radius: 6px;
    background-image: url(./cta-banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30em;
    width: 35em;
}
.summer_one{
    margin: 25%;
    width: 50%;
    background-color: white;
    opacity: 0.7;
    text-align: center;
    padding: 6%;
    border-radius: 5px;
}
.summer_discount{
    color: white;
    background-color: rgb(44, 43, 43);
    font-size: 16px;
    width: 50%;
    height: 15%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
}
.summer_one a{
    text-decoration: none;
    color: rgb(115, 112, 112);
    font-weight: bold;
}

.our_services{
    height: 100%;
    width: 24%;
    margin: 8px;
    box-shadow: 0px 0px 1px grey;
    border-radius: 5px;
    border: 1px solid rgb(215, 208, 208);
}
.our_services h1{
    border-bottom: 1px solid grey;
    padding-top: 6%;
    padding-left: 4%;
}
.our_services1{
    height: 100%;
    padding: 3.5%;
    /* display: flex; */
    /* margin: 0.2%; */
    /* justify-content: space-between; */
}
.our_services2{
    justify-content: flex-start;
    display: flex;
    /* justify-content: space-between; */
}
.our_services3{
    margin: 0% 5.5%;
}
.our_services_para1{
    color: rgb(107, 105, 105);
    font-weight: bold;
    font-size: 18px;
}
.our_services_para2{
    font-size: 1rem;
    margin-bottom: 5%;
}


.last_images_main{
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    margin: 1%;
    margin-top: 3.1%;
    /* border: 1px solid red; */
    padding: 1.2%;
}
.last_images_div{
    margin: 4px;
    border-radius: 2px;
    /* border: 1px solid blue; */
    height: 45%;
    width: 22%;
    justify-content: space-between;
}
.last_images_div img{
    width: 100%;
    border-radius: 6px;
}
.last_images_div1{
    margin: 2% 0%;
}
.last_para{
    font-weight: bold;
    font-size: 1rem;
    color: black;
}
.last_para1{
    font-size: 1rem;
    margin-bottom: 5%;
}

.footer{
    /* height: 12em; */
    font-size: 20px;
    background-color: black;
    padding: 3% 6%;
    flex-wrap: wrap;
}
.footer .shirts{
    font-size: 14px;
    padding: 5px;
}


.popular_section{
    background-color: black;
    border-bottom: 1px solid grey;
    align-items: stretch;
    padding: 1% 5%;
    display: flex;
}
.popular_section_div{
    padding: 3% 2%;
}
.popular_section_div p{
font-weight: bold;
color: white;
font-size: 1em;
}
.listnames li{
    padding: 2px;
}
.listnames li a{
    color: rgb(109, 106, 106);
    font-size: 12px;
    text-decoration: none;
}
.icon_images{
    padding: 2.5% 2%;
}
.icon_images p{
    padding: 3% 2%;
    font-size: 1em;
    font-weight: bold;
    color: white;
}
.visa_images{
   font-size: 0.8em;
   text-align: center;
   background-color: gray;
   padding: 2% 0%;
   padding-bottom: 40px;
   color: white;  
}
.visa_images p{
    color: white;
}
.final_simbles{
    text-align: center;
    border-radius: 5px 5px 0px 0px;
    background-color: rgb(206, 202, 202);
}
.final_simbles i{
    margin: 1% 6%;
}